<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Donovan Harris Project 2</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Project 2 for Comp 4420 Spring 2025">
    <meta name="author" content="Comp 4420">
    <!-- Bootstrap CSS Reset -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
 <!-- Navigation -->
 <!-- Content -->
    <div class="container">
        <h1>Retirement Home App</h1>
        <h2>Author: Donovan Harris</h2>
        <p>Description: This application allows users to manage accounts and facilities.</p>
		<form action="/api/download_retirement_home_app" method="GET"><button type="submit">Download App</button></form>
    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</body>
</html>



